# Project Title

## Topic
*What problem are you (or your stakeholder) trying to address?*


## Project Question
*What specific question are you seeking to answer with this project?*
*This is not the same as the questions you ask to limit the scope of the project.*

## What would an answer look like?
*What is your hypothesized answer to your question?*


## Data Sources
*What 3 data sources have you identified for this project?*
*How are you going to relate these datasets?*
*How will you use this data to answer your project question?*

In [20]:
# Start your code here
import numpy as np
import pandas as pd
import matplotlib as plt

%matplotlib inline

In [23]:
#importing datasets
url = 'https://raw.githubusercontent.com/IT4063C-Fall22/final-project-eliasnebiyu/main/data/forestfires.csv'
df1 = pd.read_csv(url)
df1.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [24]:
df2 = pd.read_csv('https://raw.githubusercontent.com/IT4063C-Fall22/final-project-eliasnebiyu/main/data/world_risk_index.csv')
df2.head()

,Region,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capabilities,Lack of Adaptive Capacities,Year,Exposure Category,WRI Category,Vulnerability Category,Susceptibility Category
0,Vanuatu,32.00,56.33,56.81,37.14,79.34,53.96,2011,Very High,Very High,High,High
1,Tonga,29.08,56.04,51.90,28.94,81.80,44.97,2011,Very High,Very High,Medium,Medium
2,Philippinen,24.32,45.09,53.93,34.99,82.78,44.01,2011,Very High,Very High,High,High
3,Salomonen,23.51,36.40,64.60,44.11,85.95,63.74,2011,Very High,Very High,Very High,High
4,Guatemala,20.88,38.42,54.35,35.36,77.83,49.87,2011,Very High,Very High,High,High

In [25]:
df2 = pd.read_csv('https://raw.githubusercontent.com/IT4063C-Fall22/final-project-eliasnebiyu/main/data/annual-change-forest-area.csv')
df2.head()

      Entity Code  Year  Net forest conversion
0    Algeria  DZA  1990                -8800.0
1    Algeria  DZA  2000                33900.0
2    Algeria  DZA  2010                 7600.0
3    Algeria  DZA  2015                -1400.0
4  Argentina  ARG  1990              -182600.0